*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center center;
}

code {
  background: #fff;
  padding: 0.2rem;
  border-radius: 0.1rem;
  text-shadow: none;
}

.demo-text {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.overlay-gradient {
    position: relative;
}

.overlay-gradient::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #4FC3F7, #8E24AA);
    display: block;
    opacity: 0.55;
}

.overlay-dark {
    position: relative;
}

.overlay-dark::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    display: block;
    opacity: 0.55;
}

.overlay-content {
    z-index: 99;
    position: relative;
}


